<div class="block-area" id="tableStriped">

    <div *ngFor="let autil of util" class="col-sm-6">
        <md-input placeholder={{autil.utilTypeName}} value={{autil.amount}} disabled>
                <!--Need to add limit to value <td *ngIf="autil.limit > 0">Limit {{autil.limit}}</td>-->
        </md-input>
    </div>

    <!--<table class="table table-hover">
        <tbody>
            <tr *ngFor="let autil of util">
                <td>{{autil.utilTypeName}}</td>
                <td>{{autil.amount}}</td>
                <td class="absorbing-column"></td>
            </tr>
        </tbody>
    </table>-->
</div>
